.title {
  font-size: 24px;
  font-weight: 800;
  color: #80298D;
}

.subtitle {
  font-size: 24px;
  font-weight: 800;
  color: #FF6600;
}

.tg_id_info {
  font-size: 14px;
  font-weight: 500;
  color: #80298D
}


.type_product_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*  */


.info_title {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}