.search_container {
  width: 100%;
  min-height: 50px;
  max-height: max-content;
  border-radius: 20px;
  border: 1px solid #000000;
  background: #ffffff;
  overflow: hidden;

  /*  */

  box-shadow: 5px 5px 15px #88888857;


}


.search_status_line {
  width: 100%;
  height: 10px;
  background-color: black;
}


/*  */



.search_status_circle {
  width: 20px;
  height: 2cqh;
  border-radius: 50%;
  background-color: red;
}

.search_status_text {
    margin-left: 10px;
    font-size: 14px;
}

.search_status_subtext {
  font-size: 12px;
  border: 1px solid black;
  padding: 4px;
  border-radius: 5px;

  /*  */

  margin-left: 10px;

}

/*  */

.search_status_author {
  font-size: 12px;
}

.search_status_title {
    font-size: 12px;
}

.search_status_project {
    font-size: 12px;
}

.search_status_date {
    font-size: 12px;
}