.btn_container {
  width: 100%;
  height: 61px;
  border: 1px solid #FC9B32;
  border-radius: 20px;

  /*  */
  color: #FC9B32;
  background-color: #ffffff;

  /*  */

  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.btn_text {
  font-size: 16px;
  font-weight: 500;
  

  /*  */

  width: 200px;

}

.btn_icon {
  width: 20px;
  height: 20px;
}