.btn_container {
  width: 100%;
  height: 61px;
  border: 1px solid #FC9B32;
  border-radius: 20px;

  /*  */
  color: #FC9B32;
  background-color: #ffffff;

  /*  */

  display: flex;
  align-items: center;
  justify-content: space-around;

  /*  */

  padding-right: 15px;
  
}

.btn_text {

  font-size: 14px;
  font-weight: 500;
  

  /*  */
  min-width: 250px;


}

.btn_icon {
  width: 20px;
  height: 20px;
}