
.modal_info_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 600;

  /*  */

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_info_container {
  max-width: 375px;
  width: 100%;
  max-height: max-content;
  background: white;
  box-shadow: 0px 0px 4px #FC9B32;
  border-radius: 20px;
}

.modal_info_wrapper {
  padding: 20px;

  /*  */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal_info_image_wrapper {
  width: 60px;
  height: 60px;
}

.modal_info_title_wrapper {
  width: 300px;
  min-height: 67px;

  /*  */

  display: flex;
  align-items: center;
  justify-content: center;


  /*  */

  font-size:  18px;
  font-weight: 600;
  text-align: center;

  /*  */

  margin-top: 20px;
  margin-bottom: 10px;
}

.modal_info_btn_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}