.input_container {
  width: 100%;
}

.input_title {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.input_text {
  width: 100%;
  height: 56px;

  /*  */

  border: 1px solid;
  border-color: #000000;
  border-radius: 20px;
  color: #000000;
  background-color: #ffffff;
  

  /* text */

  padding-left: 20px;
      color: #000000;
    opacity: 0.7;
    font-weight: 400;

    font-size: 14px;

  /*  */

  margin-top: 5px;

  
}

.input_text:focus {
  border: 1px solid;
  border-color: #80298D;
}

.input_text::placeholder {
  color: #5f5f5f;
  font-size: 12px;
}


.input_text::-webkit-calendar-picker-indicator {

 padding-right: 10px;

}



