.left_menu_container {
  width: 100%;
  height: 700px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.left_menu_wrapper {
  padding: 25px;
}

/*  */

.left_menu_title {

  height: 40px;
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
  color: #691875;

  /*  */

  margin-bottom: 5px;
}

.left_menu_icon_department {
  width: 20px;
  margin-right: 10px;

}


.left_menu_item_active {
  font-size: 14px;
  font-weight: 200;

  /*  */

  cursor: pointer;
}

.menu_item_line {
  width: 40%;
  height: 2px;
  background-color: #FF6600;
  border-radius: 20px;
}

.left_menu_item {
  font-size: 14px;
  font-weight: 200;
  color: black;

  /*  */

  cursor: pointer;
}

/* menu  */

.menu_filter_title_acitve {
  width: 200px;
  height: 35px;
  border-radius: 30px;
  /* padding: 8px; */
  background-color: #FF6600;
  color: white;

  /*  */

  display: flex;
  align-items: center;
  padding-left: 10px;

  /*  */

  cursor: pointer;

}

.menu_filter_title {
  width: 200px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  color: black;

  /*  */

  display: flex;
  align-items: center;
  padding-left: 10px;

  /*  */

  cursor: pointer;
}

.menu_filter_icon {
  width: 25px;
  height: 25px;

  /*  */

  margin-right: 10px;
}


/*  */

.menu_item_icon {
  width: 25px;
  height: 25px;
  color: #ffffff
}


.menu_item_icon_active {
  width: 25px;
  height: 25px;
  color: #F5913C

}



