
.select_container {}


.select_title {
  font-size: 14px;
  color: #5E5E5E;
}

.select {
  width: 100%;
  height: 56px;

  /*  */

  border: 1px solid;
  border-color: #d3d7d9;
  border-radius: 10px;
  color: #3030307d;
  background-color: #F4F7F9;

  /* text */

  padding-left: 15px;

  /*  */

  margin-top: 5px;

  /*  */


  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;


  background-image: url('../../../../public/inputs_icon/cross.svg');
  background-repeat: no-repeat;
  background-position: right 25px center;
  background-size: 24px;
  
  
}



.select:focus {
  outline: none;
  border-color: #80298D;
  border-width: 1.3px;
  color: #4f01ae9a

}



.select:disabled {
  background-color: #f8f9fa;
  color: #6c757d;
  cursor: not-allowed;
}



/* selected */

.select_input_container {
  margin-top: 10px;
  margin-bottom: 10px;

}


.select_input_wrapper {
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  display: flex;

  /*  */

  border: 1px solid #4f01aeab;
  border-radius: 10px;

  /*  */

  margin-top: 10px;
  margin-bottom: 10px;
}

.select_input_title {
  color: #4f01aeab;
}