.menu_button_container {

  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;

  /*  */

  margin-right: 10px;

  /*  */

  cursor: pointer;
}

.menu_button_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

}

/* image */

.menu_button_image_container {
  width: 48px;
  height: 48px;

  /*  */

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_button_image_wrapper {
  width: 40px;
  height: 40px;
  background-color: rgba(128, 41, 141, 0.11);
  border-radius: 8px;
  padding: 10px;

  /*  */

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_button_image_wrapper_active {
  width: 40px;
  height: 40px;
  background-color: #80298de4;
  border-radius: 8px;
  padding: 10px;

  /*  */

  display: flex;
  align-items: center;
  justify-content: center;
}


/*  */

.menu_button_title {
  font-size: 12px;
  font-weight: 600;
  color: #798597
}

.menu_button_title_acitve {
  font-size: 12px;
  font-weight: 600;
  color: #F5913C
}

/*  */

