.header_title_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;

  /*  */

  cursor: pointer;
}

.header_title {
  font-size: 14px;
  font-weight: 200;

  /*  */

  margin-left: 20px;
}


.info_wrapper {
  display: flex;
  align-items: center;

  /*  */

  cursor: pointer;
}

.header_info_title {
  font-size: 14px;
  font-weight: 200;

  /*  */

  margin-left: 20px;
  margin-right: 10px;
}


/*  */


.social_icon {
  width: 24px;

  margin-right: 15px;
}