.file_title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 200;
}

.file_input {
    width: 100%;
    height: 56px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #ffffff;
    
    /* text */

    color: #5f5f5f;
    font-size: 12px;

    /*  */

    display: flex;

    /*  */

    margin-bottom: 10px;
    
}

.file_input_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 10px;

}


.input_file_title {

}


.file_container {
  display: flex;
}

.file_wrapper {

}

.file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  color: black
}

.file_insert {
  font-size: 12px;
  padding-left: 10px;
}

.result_wrapper {
  display: flex;
  flex-direction: column;


}

.result_image_wrapper {
  width: 120px;
  height: max-content;
  border-radius: 10px;
  background-color: #F4F7F9;
  overflow: hidden;
  padding: 10px;

  /*  */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.file_input::placeholder {
    color: #5f5f5f;
    font-size: 12px;
}

input[type="file"]:hover {
  color: white
}

