.menu_element_container {
  width: 100%;
  min-height: 167px;
  height: max-content;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);

  /*  */

  display: flex;
  align-items: center;
  justify-content: center;
  color: black
}

.menu_element_wrapper {
  width: 100%;
  min-height: 167px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.menu_element_image {
  width: 100px;
  height: 100px;
}

.menu_element_text {
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px;
}