.menu_element_container {
  width: 250px;
  min-height: 160px;
  height: max-content;
  border: 1px solid #d3d7d9;
  border-radius: 10px;
  margin: 10px;
  background-color: #F4F7F9;

  /*  */
  color: black
}

.menu_element_wrapper {
  width: 100%;
  min-height: 167px;
  height: max-content;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;



}

.menu_element_image {
  width: 100px;
  height: 100px;
}

.menu_element_text {

  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  height: max-content;
  text-align: left;
}