.textarea_container {}

.textarea_title {
  font-size: 14px;
  font-weight: 200;
  color: #000000;
}

.textarea_input {
    width: 100%;

    /*  */

    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
    color: #000000;
    background-color: #ffffff;

    /* text */

    padding: 15px;

    /*  */

    margin-top: 5px;

    /*  */

    resize: none
}


textarea:focus {
  outline: none;
  border-color: #80298D;
}


textarea::placeholder {
  color: #000000;
  opacity: 0.7;
  font-weight: 400;

  font-size: 14px;
}