.textarea_container {}

.textarea_title {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.textarea_input {
    width: 100%;

    /*  */

    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
    color: #000000;
    background-color: #ffffff;

    /* text */

    padding: 15px;

    /*  */

    margin-top: 5px;

    /*  */

    resize: none;
    font-size: 13px;
}


textarea:focus {
  outline: none;
  border-color: #80298D;
  font-size: 12px;
}


textarea::placeholder {
  color: #5f5f5fa9;
  font-size: 12px;
}